<h1>Listado de Materiales para <%= @reciclador.nombre %></h1>

<%= form_with(url: reciclador_materiales_path(@reciclador), method: :get, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :search, "Buscar Material" %>
    <%= form.text_field :search, value: params[:search], class: 'form-control' %>
    <%= form.submit 'Buscar', class: 'btn btn-primary' %>
  </div>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Nombre Material</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @materiales.each do |material| %>
      <tr>
        <td><%= material.nombre %></td>
        <td><%= material.descripcion %></td>
        <td>
          <%= link_to 'Editar', edit_reciclador_material_path(@reciclador, material) %>
          <%= link_to 'Eliminar', reciclador_material_path(@reciclador, material), method: :delete, data: { confirm: '¿Estás seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @materiales %>
<%= link_to 'Nuevo Material', new_reciclador_material_path(@reciclador), class: 'btn btn-primary' %>

