<h1>Listado de Entregas para <%= @reciclador.nombre %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Material</th>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @entregas.each do |entrega| %>
      <tr>
        <td><%= entrega.material.nombre if entrega.material.present? %></td> 
        <td><%= entrega.fecha.strftime("%d/%m/%Y") if entrega.fecha.present? %></td> 
        <td><%= entrega.cantidad %></td> 
        <!-- Aquí puedes agregar más acciones si es necesario -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @entregas %> 
<%= link_to 'Nueva Entrega', new_reciclador_entrega_path(@reciclador), class: 'btn btn-primary' %> 

